# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Assembly-CSharp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\UnityProject\Unity Project\Documents\10.13\bishe\.idea\.idea.Assembly-CSharp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
